@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: initial !important;
}
.circle {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }
  .myCard {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  .customnav{
    backdrop-filter: blur(40px);
    background-color: #62626235;
    z-index: 10;
  }
.MyGradient {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0)
    );
  }
html , body{
  
    min-height: 100%;
    height: auto;
}

*::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

*::-webkit-scrollbar-track {

    background:#e0b3d1;
}
*::-webkit-scrollbar-thumb{
    
    border-radius: 4px;
}
:root {
    --radial-gradient-background: 250, 250, 250;
    --solid-color-background: 15, 15, 15;
    --overlay-color: 255, 255, 255;
}

body {
    @apply bg-Black-primary;
    cursor: none;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden; /* Prevents cards from going out of the boundary */
  }
  
  .card {
    width: 300px; /* Example fixed width */
    height: 200px; /* Example fixed height */
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Example styling */
    overflow: hidden; /* Ensures content does not overflow the card */
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .card {
      width: 100%; /* Full width on smaller screens */
    }
  }

.radial-gradient {
    background: radial-gradient(
            circle at 50% 0%,
            rgba(var(--radial-gradient-background), 0.05) 0%,
            transparent 60%
        )
        rgba(var(--solid-color-background), 1);
}

.linear-mask {
    mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
}

.linear-overlay {
    background-image: linear-gradient(
        -75deg,
        rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
        rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
        rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
    );
    mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    -webkit-mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}
.nav-link {
    /* Default style */
  }
  
  .nav-link.active {
    /* Gradient style */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }